<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>accueil</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                color1: '#D19D62',
                color2: '#E3B678'
              }
            }
          }
        }
      </script>
      <style>
        /* Hauteur obligatoire sinon la carte ne s’affiche pas */
        #map {
            width: 100%;
            height: 500px;
        }
    </style>
</head>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxvPdCouaDKnkKMkP1L6vOkKZbPak24b4&callback=initMap" 
        async defer></script>

<body>
    <header class="bg-color1 flex items-center justify-around p-10 py-12 display">
        <div class="grid grid-cols-1 flex justify-around ">
            <div class="max-w-4xl mx-auto h-64 overflow-hidden">
                <img src="../static/IMG_4020.PNG" class="w-full h-full object-cover"> 
            </div>
                <form action = "/search" method = "get" class = "flex justify-center">
                <input type = "text" name = "q" placeholder = "recherche" class="">
                <button type = "submit" class = "">🔍</button>
            </form>
        </div>
        <nav class="flex space-x-10 text-2xl font-serif text-orange-950 vertical-align: middle">
            <ul>
                <li><a href="/">Accueil</a></li>
            <ul>
                <li><a href="/connect" class="active">se connecter</a></li>
                <li><a href="/register" class="active">créer un compte</a></li>
            </ul>
                <li><a href="/publish" class="active">publier</a></li>
            </ul>
        </nav>
    </header>

    <main class="bg-color2  pt-10">

    {% block content %}
    {% endblock %}

    {% block scripts %}

{% endblock %}


    </main>
    <footer class="bg-color1 text-orange-950 font-serif">
        <p>Space sprogrammers</p>
        <p>notre adresse mail : fllspaceprogrammers@gmail.com</p>
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxvPdCouaDKnkKMkP1L6vOkKZbPak24b4&callback=initMap" 
        async defer></script>
</body>
</html>