{% extends 'base.html' %}

{% block content %}

        <div class="bg-orange-200 text-center">
            <h2> Bonjour </h2>
            <p>CE SITE S'ADRESSE AUX PROFESSIONNELS DE L'ARCHÉOLOGIE.
                LES INFORMATIONS RECUEILLIES ICI PEUVENT S'AVÉRER
                PRÉCIEUSES POUR LA VALORISATION. LES ARTICLES PUBLIÉS SONT RÉDIGÉS PAR DES ARCHÉOLOGUES ET PEUVENT INCLURE DES PHOTOGRAPHIES ET DES RAPPORTS DE FOUILLES</p>
            <br>
        </div>
        <section class="grid grid-cols-4 grid-rows-3 flex gap-4">
            {% for test in test %}
                <article class="bg-blue-200">
                    <h2 class="text-lg text-center pb-1" >Annonce 1</h2>
                    <p> {{annonce["titre_annonces"]}}</p>
                    <p>{{annonce["phrase_annonces"]}}</p>
                </article>
            {% endfor %}

        </section>
    </main>
{% endblock %}