{% extends 'base.html' %}
{% block content %}
{% if erreur %}
<p> Erreur : {{erreur}}</p>
{% endif %}
<div class="flex justify-center space-y-6 bg-orange-200">
    <form method="POST" action = "{{url_for('register')}}">
        <div class="text-center">
            <label>Utilisateur</label>
            <input name ="utilisateur" type="text" placeholder="nom de l'utilisateur">
        </div>
        <br>
        <div class="text-center">
            <label>mots de passe</label>
            <input name ="mots_de_passe" type="text" placeholder="entrer votre MDP">
        </div>
        <br>
        <div class="text-center">
            <label>confirmer mots de passe</label>
            <input name ="confirme_mots_de_passe" type="text" placeholder="entrer votre MDP">
        </div>
        <br>
        <div class="flex justify-center" >
            <button type = "submit">s'inscrire</button>
        </div>
    </form>
</div>
<br> 
{% endblock %}